.logo{
    width: 40px;
    background-color: blue;
    border-radius: 50%;
    padding: 0px;
}
.nav-item{
    margin-left: 20px;
}
.nav-item,li,a:hover{
    color: blue !important;
}
/* end of nav styles */
#section{
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.asideContents{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 20%;
}
.asideContents2{
    color: white;
    min-height: 60vh;
    background-position: center;
}
/* what we do section */
.toggleSection{
    display: flex;
    min-height: 30vh;
}
.toggleSection div img{
    display: block;
    margin: 5vh auto;
}
.toggleImage1{
    width: 33.3%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* second image */
.toggleImage2{
    width: 33.3%;
    text-align: center;
}
/* third image */
.toggleImage3{
    width: 33.3%;
    text-align: center;
}
/* toggle */
.initiallyHiden1{
    display: none ;
    margin: 0 20px;
    text-align: center;
}
.initiallyHiden2{
    display: none ;
    margin: 0 20px;
    text-align: center;
}
.initiallyHiden3{
    display: none ;
    margin: 0 20px;
    text-align: center;
}
/* make the what we do section responsive */

@media screen and (max-width: 720px) and (min-width: 100px) {
    .toggleImage1,.toggleImage2,.toggleImage3{
        width: 100%;
        float: left;
    }
}















